<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="cfswfHandler" />
            <remove name="cfrHandler" />
            <remove name="cfmlHandler" />
            <remove name="cfmHandler" />
        </handlers>
    </system.webServer>
</configuration>
