<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<!--
        <rewrite>
            <rules>
                <rule name="http to https" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
			        <conditions logicalGrouping="MatchAny">
			          <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
			        </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
	-->
	<directoryBrowse enabled="false" />
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
	<security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".pl" allowed="false" />
                </fileExtensions>
                <requestLimits maxAllowedContentLength="300000000" />
            </requestFiltering>
        </security>
        <httpErrors errorMode="DetailedLocalOnly" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="index.cfm" />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
                <add value="_holding.htm" />
            </files>
        </defaultDocument>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
        <isapiFilters>
            <remove name="tomcat" />
            <filter name="tomcat" path="C:\ColdFusion2018\config\wsconfig\1\isapi_redirect.dll" preCondition="bitness64" />
        </isapiFilters>
        <handlers>
            <remove name="PHP_via_FastCGI" />
            <remove name="cfswfHandler" />
            <remove name="cfrHandler" />
            <remove name="cfmlHandler" />
            <remove name="cfmHandler" />
            <remove name="cfcHandler" />
            <add name="cfcHandler" path="*.cfc" verb="*" modules="IsapiModule" scriptProcessor="C:\ColdFusion2018\config\wsconfig\1\isapi_redirect.dll" resourceType="Either" requireAccess="Script" preCondition="bitness64" responseBufferLimit="0" />
            <add name="cfmHandler" path="*.cfm" verb="*" modules="IsapiModule" scriptProcessor="C:\ColdFusion2018\config\wsconfig\1\isapi_redirect.dll" resourceType="Either" requireAccess="Script" preCondition="bitness64" responseBufferLimit="0" />
            <add name="cfmlHandler" path="*.cfml" verb="*" modules="IsapiModule" scriptProcessor="C:\ColdFusion2018\config\wsconfig\1\isapi_redirect.dll" resourceType="Either" requireAccess="Script" preCondition="bitness64" responseBufferLimit="0" />
            <add name="cfrHandler" path="*.cfr" verb="*" modules="IsapiModule" scriptProcessor="C:\ColdFusion2018\config\wsconfig\1\isapi_redirect.dll" resourceType="Either" requireAccess="Script" preCondition="bitness64" responseBufferLimit="0" />
            <add name="cfswfHandler" path="*.cfswf" verb="*" modules="IsapiModule" scriptProcessor="C:\ColdFusion2018\config\wsconfig\1\isapi_redirect.dll" resourceType="Either" requireAccess="Script" preCondition="bitness64" responseBufferLimit="0" />
            <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP\7.4.9\php-cgi.exe" resourceType="File" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
